<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
     {% include 'base.html' %}
    <title>Title</title>
</head>
<body>
<div class="container"></div>
   <h3 class="text-center">Contact Me</h3>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Email address</label>
  <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
   <br><button type="button" class="btn btn-dark">Submit</button>
</div>

</body>
</html>